/* CABEÇALHO */
.cabecalho__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.cabecalho__pesquisar__item {
    display: none;
}

/* MENU */
.menu__container {
    position: fixed;
    bottom: 0%;
    height: 74px;
    width: 100%;
}

.menu__lista {
    display: flex;
    justify-content: space-around;
    align-self: center;
}

.menu__lista:nth-child(2),
.menu__lista:nth-child(3),
.menu__lista:nth-child(4) { /*como a classe menu__lista possui mais de uma lista, pra que somente os icones aparecessem utilizamos a função de chamar o elemento filho e aplicar o display none, assim evitamos criar mais classes e bagunçar o código*/
    display: none;
}

/* RODAPÉ */
.rodape__container {
    display: flex;
    /*flex-direction: column;
    flex-wrap: wrap;*/
    flex-flow: column wrap;
}

/* SUPERIOR SEÇAÕ */
.superior__secao__container{
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: scroll;
    gap: 15px /*propriedade que aplica espaçamento entre os itens*/
}

@media (min-width: 834px) {
    /* CABEÇALHO */
    .cabecalho__pesquisar__item {
        display: block;
    }

    /* RODAPÉ */
    .rodape__container{
        justify-content: space-between;
    }
}